%h1  Job Details...
%br/

%h2= @job.title 
%br/
%p= @job.category_id 
%br/

%p= @job.description
%br/
%p= @job.company
%br/

%p= @job.url
%br/

=link_to "Home", root_path
=link_to "Edit", edit_job_path(@job)
=link_to "Delete" ,job_path(@job), method: :delete, data: {confirm: "are you sure?"}
